
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;500&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root{
    --bgColor: #121212;
    --textcolor:white;
    --secondarycolor:black;
    --thirdcolor:#C9F31D;
}

body{
    height: 100vh;
    cursor: none;
}

/* cursor */





::-webkit-scrollbar{
    display: none;
}

.cursor {
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var(--thirdcolor);
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
}
  
.cursor2 {
    z-index: 88;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--thirdcolor);
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
}
  


.container{
    background: var(--secondarycolor);
    font-family: 'Kanit', sans-serif;
    color: white;
}


.navbar{
    position: fixed;
    z-index: 33;
}


.navbar ul li{
    width: 90px;
    height: 240px;
    writing-mode:vertical-rl;
    background: var(--secondarycolor);
    border-right: 0.1px solid gray;
    font-size: 18px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}

.main-content{
    overflow-x: hidden;
}


/* page-1 */


.page-1{
    margin-left: 150px;
    background-image: url('bg-main.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}


.page-1 div{
    height: 100vh;
    width: 100vw;
    background: #000000c4;
}


.page-1 div h2{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    width: 300px;
    border-bottom: 1px solid var(--textcolor);
    font-weight: 400;
}


.page-1 div h1{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 120px;
}


.page-1 h1 span{
    border: 2px var(--textcolor) solid;
    border-radius: 20px;
    font-size: 30px;
    font-weight:400;
    padding: 0px 15px;
}


.page-1 h1 p{
    width: 420px;
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

/* page-2 */


.yellow-band{
    /* color: var(--secondarycolor); */
    background: var(--thirdcolor);
    width: 100vw;
    font-size: 25px;
    height: 110px;
}

.yellow-band ol {
    display: flex;
    /* margin-left: 150px; */
    padding: 10px;
}


.yellow-band ol li{
    padding: 30px;
    list-style: none;
    color: var(--secondarycolor);
}

.page-2-content{
    padding-left: 150px;
    position: relative;
    background: var(--bgColor);
}

.page-2-content h1{
    font-size: 50px;
    font-weight: 500;
    padding: 100px;
}

.page-2-content-img{
    float: right;
    padding-right: 100px;
}

.page-2-content p{
    padding-right: 90px;
    color: gray;
    font-size: 18px;
    font-weight: 400;
    float: right;
}

.page-2-content button{
    color: gray;
    font-size: 16px;
    background: transparent;
    border-radius: 50%;
    padding: 50px;
    width: 200px;
    text-align: center;
    height: 200px;
    float: right;
    margin-right: -300px;
    margin-top: 300px;
    border: 1px solid gray;
}

.page-2-content button:hover{
    border: 1px solid var(--thirdcolor);
    transition:  0.5s;
    background: var(--thirdcolor);
    color: var(--secondarycolor);
}

